body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    justify-content: center;
}
#cont
{
    border: solid 1px white;
    border-radius: 50px;
    justify-content: center;
}
#calc
{
    border: solid 2px white;
    background-color: rgba(37,52,64,255);
    border-radius: 15px;
    /* border-radius: 20px;
    background-color: black;
    width: 500px;
    justify-content: right; */

    
} 
#Disp
{
    width: 400px;
    height:50px;
    background-color: rgba(37,52,64,255);
    display:flex;
    flex-wrap:wrap;
    padding-right: 25px;
    justify-content: flex-end;
    color:white;
    font-size:xx-large;
    border-radius: 50px 50px 0px 0px;
    font-family: sans-serif;
}
#Ans
{
    width: 400px;
    height:50px;
    background-color: rgba(37,52,64,255);
    display:flex;
    flex-wrap:wrap;
    padding-right: 25px;
    /* border-bottom:solid 1px white;
    border-left:solid 1px white;
    border-right:solid 1px white; */
    /* border:solid 1px white; */
    justify-content: flex-end;
    color:white;
    font-size:xx-large;
    border-radius: 0px 0px 50px 50px;
    font-family: sans-serif;
}
#Button
{
    width: 425px;
    height:600px;
    background-color: rgba(37,52,64,255);
    display:flex;
    flex-wrap:wrap;
    border:solid 1px white;
    color:white;
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    justify-content: center;
}
.numbers
{
    width:100px;
    height: 100px;
    background-color: rgb(88, 84, 84);
    border:solid 2px white;
    box-sizing: border-box;
    display:flex;
    justify-content: center; 
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 50px;
}
.operators
{
    width:100px;
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(188, 127, 29);
    border:solid 2px white;
    box-sizing: border-box;
    display:flex;
    justify-content: center; 
    align-items: center;
    border-radius: 50px;
}